<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{.JS}}" defer></script>
    <title>{{if .Title}}{{.Title}}{{- else}}Aurelia{{- end}}</title>
  </head>
  <body class="logo">
    <my-app></my-app>
  </body>
</html>
