<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style type="text/css">
      {{.CSS}}
    </style>
    <title>{{.Title}}</title>
  </head>
  <body class="logo"></body>
</html>
