@import 'resources/partials/_.scss';

main {
  > h1 {
    color: #222;
  }

  nav {
    a {
      color: #00aed9;
      text-decoration: none;

      &.exit {
        color: #ff0000;
        cursor: pointer;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
