@import 'resources/partials/_.scss';
@import 'resources/partials/_fonts.scss';

main {
  font-family: RobotoRegular;

  > h1 {
    color: #222;
  }

  a {
    color: #007d9c;
  }

  nav {
    a {
      text-decoration: none;

      &.exit {
        color: #ff0000;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
