#projects {
  ul {
    li {
      margin-bottom: 10px;

      a {
        cursor: pointer;
        font-size: 14px;
      }

      small {
        color: #444;
      }

      .title {
        color: #555;
      }
    }
  }
}
